body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

canvas {
  border: 4px solid rgb(20, 20, 20);
  position: fixed;
  top: calc(50% - 500px);
  left: calc(50% - 500px);
  outline: none;
  cursor: crosshair;
}

#window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}